@font-face {
    font-family: 'OpenDyslexic Bold';
    src: url('fonts/opendyslexic-bold-webfont.woff2') format('woff2'),
        url('fonts/OpenDyslexic-Bold.otf') format('opentype'),
        url('fonts/opendyslexic-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('fonts/opendyslexic-regular-webfont.woff2') format('woff2'),
        url('fonts/OpenDyslexic-Regular.otf') format('opentype'),
        url('fonts/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.dyslexia * {
    font-family: 'OpenDyslexic', 'OpenDyslexic Bold', 'Arial', 'Comic Sans', 'Open Sans';
}